.rating-scale-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.rating-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.rating-option input[type="radio"] {
    display: none;
}

.rating-option label {
    margin-top: 5px;
    cursor: pointer;
}

.rating-option input[type="radio"]:checked+label {
    color: #007bff;
}