@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(to bottom, #47026b, #010d40);
}

/* text input */
.text-input {
  @apply bg-transparent block w-full p-2.5 outline-none border-b-2 border-b-gray-300 ml-3;
}

.btn-gradient {
  @apply btn-primary;
  background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
}

.btn-gradient:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px #eee;
  background-position: right center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
