@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* text input */
.text-input {
  @apply bg-transparent block w-full p-2.5 outline-none border-b-2 border-b-gray-300 ml-3;
}

/* primary button */
.btn-primary {
  @apply text-white cursor-pointer ring-2 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 w-auto h-10;
}

.btn-primary:hover {
  @apply bg-blue-700;
}

.btn-primary:focus {
  @apply ring-blue-800 outline-none;
}

.btn-primary:disabled {
  @apply cursor-not-allowed bg-blue-400;
}