.multi-choice-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 4px;
    /* Adjusted to a smaller value for checkboxes */
    margin-right: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.checkbox-input:checked {
    background-color: #007bff;
    /* Using a background color for checked checkboxes */
    border-color: #007bff;
}

.checkbox-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px #007bff;
}